<app-header></app-header>

<ion-content>
  <ion-button (click)="goToAgregar()" color="success" expand="full">Agregar Libro</ion-button>

  <ion-list>
    <ion-item *ngFor="let libro of books$ | async">
      <ion-label (click)="verDetalle(libro)">
        <h2>{{ libro.title }}</h2>
        <p>{{ libro.author }}</p>
      </ion-label>

      <ion-button *ngIf="esDueno(libro)" fill="outline" color="warning" (click)="editBook(libro)">Editar</ion-button>
      <ion-button *ngIf="esDueno(libro)" color="danger" (click)="deleteBook(libro)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
